@import url("menu.css");
@import url("carousel.css");

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgba(227,147, 157, 1);
}





/********************************************/
/********************************************/
/********************************************/


.main {

}